                <div class="col-12 p-1 friend-request-element" id="friend-request-element-{{friendReq.id}}">
                    <div class="card p-0">
                        <button type="button" class="btn btn-outline-primary col-12 p-0 d-flex justify-content-between align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#friend-req-id-{{friendReq.id}}" aria-expanded="false" aria-controls="collapseExample">
                            <img src="{{steam_avatar_full}}" class="img-fluid sidebar-user-image rounded p-0 me-3" alt="..." id="friend-req-image-{{friendReq.id}}">
                            <p class="card-text friend-text me-2" id="friend-req-username-{{friendReq.id}}">{{username}}</p>
                        </button>
                        <div class="collapse" id="friend-req-id-{{friendReq.id}}" data-friend-id="{{friendReq.link_id_req}}">
                            <div class="card-body p-1 pt-2 d-flex justify-content-between">
                                <button type="button" class="btn green-glow-btn btn-sm friend-request-accept-button">Accept</button>
                                <button type="button" class="btn red-glow-btn btn-sm friend-request-deny-button">Deny</button>
                            </div>
                        </div>
                    </div>
                </div>