<button
    ownedGameAppId = "{{appid}}"
    class="ownedGameBtn btn violet-glow-btn btn-game d-flex flex-row justify-content-between align-items-center w-100 mb-1 p-0">
    <div class="d-flex align-items-center">
        <img src="https://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_icon_url}}.jpg"
            class="img-fluid steam-game-thumbnail rounded p-0 me-3" alt="...">
        <p class="card-text">{{name}}</p>
    </div>
    <p class="card-text me-2">{{to_hours playtime_forever}}</p>
</button>