<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-5 col-xl-4 p-1">
            <div class="card shadow-lg mb-2">
                <div class="card-header text-dark">
                    <h4 class="dash-title">User Search</h4>
                </div>
                <div class="card-body">
                    <form id="username-input-form" class="p-2">
                        <label for="username-input" class="form-label card-text">Username: </label>
                        <input type="text" class="form-control shadow" id="username-input">
                        <div id="button-row" class="d-flex justify-content-between">
                            <button class="btn violet-glow-btn shadow mt-3"
                                id="search-user-button">Search </button>
                            <button class="btn violet-glow-btn shadow mt-3"
                                id="search-all-users-button" type="button">Search All</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {{#if searchResults}}
        <div class="col-12 col-sm-6 col-lg-7 col-xl-8 p-1">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h2 class="card-title dash-title">Search Results</h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            {{#each userResults}}
                            <div class="col-lg-6 col-xl-4 mb-3">
                                <div class="card shadow-lg d-flex flex-row" dataUserId="{{id}}">
                                    <button class="btn yellow-glow-btn btn-sm position-absolute bottom-0 end-0 m-1 addFriendBtn">Add friend</button>
                                    <img src="{{steam_avatar_full}}" class="img-fluid user-search-image rounded" alt="...">
                                    <div class="card-body p-2">
                                        <p class="card-text mb-0">Username:</p>
                                        <p class="card-text">{{username}}</p>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="col-lg-6 col-xl-4 mb-3">
                                <div class="card shadow-lg d-flex flex-row" dataUserId="{{id}}">
                                    <img src="" class="img-fluid user-search-image rounded" alt="..." />
                                    <div class="card-body p-2">
                                        <p class="card-text mb-0">Username:</p>
                                        <p class="card-text">{{username}}</p>
                                    </div>
                                    <button class="addFriendBtn" >Add Friend</button>
                                </div>
                            </div> --}}
                            {{/each}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>


   
    <script src="/js/user-search.js"></script>